@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-container {
  background: #343434;
  border-bottom: solid black 1px;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}

.menu-container {
  max-width: 1270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logotype {
  padding: 15px 0 15px 25px;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 600px;
  color: #fff;
  font-size: 12px;
}

.videofon {
  overflow: hidden;
  position: relative;
  height: 755px;
  z-index: 1;
}

.fon {
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: -1;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.baner-content {
  padding-top: 200px;
  max-width: 1270px;
  margin: 0 auto;
  color: white;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
}

.inf1 {
  font-size: 60px;
}

.inf2 {
  font-size: 32px;
  padding: 35px 0;
}

.inf3 {
  font-size: 20px;
}

.title {
  margin: 0 25px;
  font-weight: bold;
}

.spacing {
  letter-spacing: 10px;
}

.second-spacing {
  letter-spacing: 5px;
  color: red;
}

.btn {
  padding-top: 40px;
}

.btn span {
  padding: 15px;
  border: black solid 1px;
  -webkit-box-shadow: 0 0 5px 3px white inset;
          box-shadow: 0 0 5px 3px white inset;
}

.btn span:hover {
  text-shadow: white 0 0 10px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

#about {
  padding: 100px 0;
  text-align: center;
  max-width: 1270px;
  margin: 0 auto;
}

.description {
  line-height: 27px;
}

.container-about {
  padding: 50px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.supplement {
  font-size: 30px;
  padding-bottom: 25px;
}

.about-images {
  max-width: 423px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
}

.container-img {
  padding: 0 0 15px;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.about-images h5 {
  padding: 15px 0;
  font-size: 15px;
}

.about-images p {
  font-size: 13px;
  line-height: 27px;
}

.second-btn {
  padding: 25px 0;
}

.requirement {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/icon/1.jpg) no-repeat center center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/icon/1.jpg) no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/icon/1.jpg) no-repeat center center;
  background-size: cover;
}

.all-require {
  max-width: 1270px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 90px 0 35px 0;
}

.specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1270px;
}

.req {
  font-size: 25px;
}

.require-size {
  max-width: 395px;
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-size {
  background: rgba(41, 40, 40, 0.7);
  padding: 50px 0;
  height: 480px;
}

.pc {
  display: block;
  padding-bottom: 75px;
  margin: 0 auto;
  max-width: 64px;
  height: 64px;
  background: url(../img/icon/icons.png) no-repeat 0 0;
}

.container-size h5 {
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding: 5px 25px 15px 25px;
  font-weight: normal;
}

.container-size p {
  color: #fff;
  padding: 5px 25px;
  text-align: left;
  font-size: 15px;
  line-height: 27px;
}

.container-size span {
  color: rgba(239, 239, 243, 0.83);
}

.third-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0 50px 0;
}

.video {
  background: #212020;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 90px 0;
}

.video-container iframe {
  -webkit-box-shadow: 0 0 6px black;
          box-shadow: 0 0 6px black;
}

.video h3 {
  text-align: center;
  padding-top: 90px;
  color: white;
}

.second-video {
  display: block;
}

.team {
  background: #D6D3D3;
  color: #333333;
  text-align: center;
  padding: 90px 0;
}

.team h1 {
  font-size: 27px;
}

.team-size {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0 0 0;
  max-width: 1270px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-img-size {
  line-height: 35px;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
}

.container-img-size img {
  border-radius: 50%;
  border: solid 3px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 15px 25px;
  font-weight: 300;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.btn2 {
  color: #8ce436;
  border: 1px solid #8ce436;
  -webkit-box-shadow: 0 0 5px #8ce436, 0 0 5px inset;
          box-shadow: 0 0 5px #8ce436, 0 0 5px inset;
}

.btn2:hover {
  text-shadow: #8ce436 0 0 10px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.btn2:after {
  position: absolute;
  content: "";
  top: 6px;
  left: 8px;
  width: 90%;
  height: 70%;
  border: 1px solid #8ce436;
  -webkit-box-shadow: 0 0 5px #8ce436 inset;
          box-shadow: 0 0 5px #8ce436 inset;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn2:hover:after {
  opacity: 1;
}

.btn3 {
  color: #21ebff;
  line-height: 50px;
  padding: 0;
  height: 50px;
  border: none;
  text-align: center;
  width: 180px;
}

.btn3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn3:before,
.btn3:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #21ebff;
  -webkit-box-shadow: 0 0 5px #21ebff;
          box-shadow: 0 0 5px #21ebff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn3:before {
  height: 50%;
  width: 2px;
}

.btn3:after {
  width: 20%;
  height: 2px;
}

.btn3:hover:before {
  height: 100%;
}

.btn3:hover:after {
  width: 100%;
}

.btn3 span:before,
.btn3 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #21ebff;
  -webkit-box-shadow: 0 0 5px #21ebff;
          box-shadow: 0 0 5px #21ebff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn3 span:before {
  width: 2px;
  height: 50%;
}

.btn3 span:after {
  height: 2px;
  width: 20%;
}

.btn3 span:hover:before {
  height: 100%;
}

.btn3 span:hover:after {
  width: 100%;
}

.btn3 span:hover {
  text-shadow: #21ebff 0 0 10px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.container-burger {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 0;
  background: none;
  border: none;
  width: 30px;
  height: 25px;
  position: relative;
}

.menu-icon,
.menu-icon:before,
.menu-icon:after {
  border-top: 3px solid white;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu-icon:before,
.menu-icon:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
}

.menu-icon:before {
  top: 7px;
}

.menu-icon:after {
  top: 17px;
}

.menu-icon.opened {
  border-top-color: transparent;
}

.menu-icon.opened:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  top: 12px;
}

.menu-icon.opened:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  top: 12px;
}

.burger-menu {
  z-index: 0;
  height: 0;
}

.burger-menu ul {
  list-style: none;
  padding: 40px 10px 0 10px;
  position: absolute;
  background: #343434;
  border-bottom: solid 1px;
  -webkit-box-shadow: -22px 21px 0px -21px #000;
          box-shadow: -22px 21px 0px -21px #000;
  right: 0;
}

.burger-menu li {
  padding: 5px 0;
}

.burger-menu a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  text-align: right;
}

.clos {
  padding-right: 25px;
}

.burger-menu.closed {
  display: none;
}

.burger-menu.opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
  padding: 0;
}

@media (max-width: 730px) {
  .menu-icon,
  .second-menu-container.opened {
    display: block;
  }

  .container-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 548px) {
  .menu-icon,
  .burger-menu.opened {
    display: block;
  }

  .container-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
  }
}

@media (max-width: 448px) {
  .inf1 {
    font-size: 40px;
  }
}

@media (max-width: 395px) {
  .burger-menu {
    font-size: 13px;
  }
}

@media (max-width: 355px) {
  .burger-menu {
    font-size: 11px;
  }

  .container-size p {
    font-size: 14px;
  }

  .container-size h5 {
    font-size: 16px;
  }

  .require-size {
    padding: 15px 10px;
  }

  .team h1 {
    font-size: 25px;
  }
}